<?xml version="1.0"?>
<robot name="cartographer_3d">
	<link name="imu_link" />
	<link name="horizontal_laser_link" />
	<link name="single_gps_link" />
	<link name="base_link" />
	<joint name="imu_link_joint" type="fixed">
		<parent link="base_link" />
		<child link="imu_link" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.00 0.0"/>
	</joint>

	<joint name="horizontal_laser_link_joint" type="fixed">
		<parent link="base_link" />
		<child link="horizontal_laser_link" />
		<origin xyz="0.15 0.005 -0.44" rpy=" 0.0 0.00 0.05"/>
	</joint>

	<joint name="single_gps_link_joint" type="fixed">
		<parent link="base_link" />
		<child link="single_gps_link" />
		<origin xyz="0.15 0.005 -0.44" rpy=" 0.0 0.00 0.0"/>
	</joint>
</robot>
